Create a list named "fruits" containing three different fruits and display its items
using for loop.

In [ ]:
fruit_list = ["Apple","Mango","Orange","Watermelon","Melon","Guava"]
for i in fruit_list:
  print(f"Some fruits name are: {i}")

Some fruits name are: Apple
Some fruits name are: Mango
Some fruits name are: Orange
Some fruits name are: Watermelon
Some fruits name are: Melon
Some fruits name are: Guava

Create a tuple named "numbers" with five random numbers and display its item
using for loop.

In [ ]:
numbers_tuple = ("1", "22","54","76","20")
for i in numbers_tuple:
  print(f"Some Maths numbers are: {i}")

Some Maths numbers are: 1
Some Maths numbers are: 22
Some Maths numbers are: 54
Some Maths numbers are: 76
Some Maths numbers are: 20

In [ ]:
numbers_tuple = ("1", "22","54","76","20")
for i in numbers_tuple:
  print(f"{i}")

1
22
54
76
20

Create a set named "colors" with three different colors and display its items using
for loop.

In [8]:
my_set = {"Red","Orange","Purple"}
for i in  my_set:
  print(i)

Purple
Orange
Red

Create a dictionary named "student" with the following key-value pairs:

o "name" as the key and the student's name as the value.

o "age" as the key and the student's age as the value.

o "grade" as the key and the student's grade as the value.

o Iterate over the dictionary using the for loop and display its keys

o Iterate over the dictionary using the for loop and display its values

In [19]:
student = {"Name":"Ali","Age":"24", "grade":"A+"}
for i in student.keys():
  print(i)

Name
Age
grade

In [18]:
student = {"Name":"Ali","Age":"24", "grade":"A+"}
for i in student.values():
  print(i)

Ali
24
A+

Create a multi-line string named "poem" with a short poem of your choice.

In [21]:
poem = """
In a world of whispers, 'neath the moon's soft glow,
Nature weaves tales, where gentle breezes blow.
Stars above, like diamonds in the night,
Painting constellations, a celestial delight.

A river's melody, a lullaby of the stream,
Through valleys and meadows, a tranquil dream.
Petals in the breeze, a ballet in the air,
Nature's poetry, beyond compare.

Sunset hues, a canvas painted with fire,
Fading to twilight, dreams inspired.
Whispers of the trees, their stories unfold,
Nature's poetry, a tale untold.

Beneath the sky's vast, cosmic dome,
In every rustle, in every poem,
The universe hums, a harmonious song,
A symphony of life, where we all belong."""
poem

"\nIn a world of whispers, 'neath the moon's soft glow,\nNature weaves tales, where gentle breezes blow.\nStars above, like diamonds in the night,\nPainting constellations, a celestial delight.\n\nA river's melody, a lullaby of the stream,\nThrough valleys and meadows, a tranquil dream.\nPetals in the breeze, a ballet in the air,\nNature's poetry, beyond compare.\n\nSunset hues, a canvas painted with fire,\nFading to twilight, dreams inspired.\nWhispers of the trees, their stories unfold,\nNature's poetry, a tale untold.\n\nBeneath the sky's vast, cosmic dome,\nIn every rustle, in every poem,\nThe universe hums, a harmonious song,\nA symphony of life, where we all belong."

Write an if statement to check if the length of the "fruits" list is greater than 3. If it
is, print "You have many fruits!".

In [24]:
fruit_list = ["Apple","Mango","Orange","Watermelon","Melon","Guava"]
if len(fruit_list)>3:
  print("You have many fruits")

You have many fruits

Create a program that takes a student's numerical grade as input and prints a
corresponding letter grade.
 Use if-else statements to classify the grade into
categories such as "A," "B," "C," "D," or "F." (Marks 20)

o If the numerical grade is 90 or higher, the corresponding letter grade is "A."

o If the numerical grade is between 80 and 89 (inclusive), the corresponding
letter grade is "B."

o If the numerical grade is between 70 and 79 (inclusive), the corresponding
letter grade is "C."

o If the numerical grade is between 60 and 69 (inclusive), the corresponding
letter grade is "D."

o If the numerical grade is below 60, the corresponding letter grade is "F."

In [32]:
grade = float(input("Enter your Marks: ")) #input marks
if grade >= 90:
  print("Your Grade is A")
elif grade>=80 and grade <=89:
  print("Your Grade is B")
elif grade>=70 and grade <=79:
  print("Your Grade is C")
elif grade>=60 and grade <=69:
  print("Your Grade is D")
elif grade < 60:
  print("Your Grade is F")

Enter your Marks: 67.9
Your Grade is D

Create a program that takes a temperature in Celsius as input from user and
classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot."

Use if-else statements to define the temperature ranges for each category. (Marks
20)

o If the temperature is below -10 degrees Celsius, it's classified as "Freezing."

o If the temperature is between -10 and 0 degrees Celsius (exclusive), it's
classified as "Cold."

o If the temperature is between 0 and 20 degrees Celsius (exclusive), it's
classified as "Moderate."

o If the temperature is between 20 and 30 degrees Celsius (exclusive), it's
classified as "Warm."

o If the temperature is 30 degrees Celsius or above, it's classified as "Hot."

In [34]:
# Input the temperature in Celsius
temperature_Celsius = float(input("Enter the temperature in Celsius: "))

if temperature_Celsius < -10:
    category = "Freezing"
elif temperature_Celsius>=-10 and temperature_Celsius < 0:
    category = "Cold"
elif temperature_Celsius>=0 and temperature_Celsius < 20:
    category = "Moderate"
elif temperature_Celsius>20 and temperature_Celsius < 30:
    category = "Warm"
else:
    category = "Hot"


print(f"The temperature is classified as: {category}")

Enter the temperature in Celsius: 44
The temperature is classified as: Hot